* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* INIZIO NAV-BAR */

.nav-bar {
    display: flex;
    justify-content: space-between;

    background-color: white;
    /* test */
    border: 1px solid red;
}

.nav-left , .nav-right {
    display: flex;

    /* test */
    border: 1px solid red;
}

.nav-left > * , .nav-right > * {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.btn-blue {
    background-color: rgb(0, 97, 255);
    color: white;
}

/* FINE NAV-BAR */

/* INIZIO HEADER */

header {
    background-color: rgb(180, 203, 231);
}

.container-big {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    bottom: -70px;
}

h1 {
    font-size: 60px;
    padding-bottom: 70px;
}

.text {
    max-width: 370px;
}

.row {
    display: flex;
}

.row img {
    max-width: 70%;
}

/* FINE HEADER */

/* INIZIO CONTAINER SMALL 1 */

.container-small {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    /* test */
    border: 1px solid red;
}

h2 {
    font-size: 30px;

    padding-top: 170px;
}

.selection {
    padding-top: 72px;
    padding-bottom: 50px;
}

.row-three {
    display: flex;
    justify-content: space-between;
}

.plan {
    width: calc(100% / 3 - 50px);
    padding-left: 30px;
    padding-right: 30px;

    /* test */
    border: 1px solid gray;
    min-height: 50px;
}

.center {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.center .fa-user {
    align-self: center;
}

.plan h3 {
    padding-top: 40px;
}

.bold {
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 20px;
}

.gray {
    color: gray;
    padding-bottom: 60px;
}

.info-plan {
    padding-bottom: 25px;
}

.info-last {
    padding-bottom: 55px;
}

.buy-now {
    padding-top: 35px;
    padding-bottom: 40px;
}

.plan h4 {
    padding-top: 55px;
    padding-bottom: 40px;
}

.fa-check {
    color: rgb(0, 97, 255);
}

.padding-last {
    padding-top: 25px;
}