* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

/* INIZIO NAV-BAR */

.nav-bar {
    display: flex;
    justify-content: space-between;

    background-color: white;
}

.nav-left , .nav-right {
    display: flex;
}

.nav-left > * , .nav-right > * {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-blue {
    background-color: rgb(0, 97, 255);
    color: white;
}

/* FINE NAV-BAR */

/* INIZIO HEADER */

header {
    background-color: rgb(180, 203, 231);
}

.container-big {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    position: relative;
    bottom: -70px;
}

h1 {
    font-size: 60px;
    padding-bottom: 70px;
}

.text {
    max-width: 370px;
}

.text .btn-blue {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
}

.text .fa-solid {
    margin-top: 70px;
}

.row {
    display: flex;
}

.row img {
    max-width: 70%;
}

.row img:hover {
    transform: scale(1.1);
    transition: 1s;
}

/* FINE HEADER */

/* INIZIO CONTAINER SMALL 1 */

.container-small {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.business-plan {
    font-size: 30px;

    padding-top: 170px;
}

.selection {
    padding-top: 72px;
    padding-bottom: 50px;
}

.row-three {
    display: flex;
    justify-content: space-between;
}

.plan {
    width: calc(100% / 3 - 50px);
    padding-left: 30px;
    padding-right: 30px;

    border: 1px solid gray;
}

.plan .btn-blue:hover {
    transform: scale(0.9);
    transition: 1s;
}

.center {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.center .fa-user {
    align-self: center;
}

.plan h3 {
    padding-top: 40px;
}

.bold {
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 20px;
}

.gray {
    color: gray;
    margin-bottom: 60px;
}

.info-plan {
    margin-bottom: 25px;
}

.info-last {
    margin-bottom: 55px;
}

.info-diverse {
    margin-bottom: 35px;
}

.trial {
    padding: 10px;
}

.trial:hover {
    transform: scale(0.9);
    transition: 1s;
}

.buy-now {
    margin-top: 35px;
    margin-bottom: 40px;
}

.hr-small {
    width: 25%;
}

.plan h4 {
    padding-top: 55px;
    padding-bottom: 40px;
}

.fa-check {
    color: rgb(0, 97, 255);
}

.padding-last {
    padding-top: 25px;
}

.bottom {
    padding-bottom: 55px;
}

.team {
    padding-top: 55px;
}

.border {
    border: 1px solid gray;
}

.border p {
    padding-top: 60px;
    padding-bottom: 30px;
}

.tab {
    display: flex;
    justify-content: space-between;

    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

/* INIZIO PARTE PARTNER */

.partner {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    margin-top: 155px;
    margin-bottom: 175px;

    display: flex;
    justify-content: space-between;
}

.partner img {
    width: 60%;
}

.partner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 50px;
}

.partner .partner-text p {
    padding-top: 20px;
    padding-bottom: 35px;
}

.partner .partner-text span {
    border: 1px solid black;
    padding: 10px;
}

.partner-text span:hover {
    background-color: rgb(0, 97, 255);
    border: none;
    color: white;
    transform: scale(1.1);
    transition: 1s;
}

/* INIZIO PARTE OPERATION */

.operation {
    max-width: 1000px;
}

.colonne {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.passa {
    width: calc(100% / 3 - 50px);
}

.passa img {
    width: 100%;
    margin-top: 90px;
}

.passa p {
    margin-top: 40px;
}

/* INIZIO SEZIONE CLIENTI */

.clienti {
    max-width: 1000px;
    margin-top: 220px;
    margin-bottom: 150px;
}

.clienti h2 {
    margin-bottom: 80px;
    font-size: 30px;
}

/* INIZIO SEZIONE SQUARES */

.squares {
    display: flex;
}

.square-left , .square-right {
    display: flex;
    flex-wrap: wrap;
}

.square-left img , .square-right img {
    width: 50%;
    height: auto;
    padding: 30px;
}

.square-left img:nth-of-type(1) {
    background-color: #A2D39B;
}

.square-left img:nth-of-type(2) {
    background-color: #61082B;
}

.square-left img:nth-of-type(3) {
    background-color: #0093CE;
}

.square-left img:nth-of-type(4) {
    background-color: #FF1C1C;
}

.square-right img:nth-of-type(1) {
    background-color: #D5001F;
}

.square-right img:nth-of-type(2) {
    background-color: #B4D0E7;
}

.square-right img:nth-of-type(3) {
    background-color: #0D2481;
}

.square-right img:nth-of-type(4) {
    background-color: #FFD830;
}

.square-center {
    padding: 50px;
}

.square-center img {
    width: 75%;
}

.square-center hr {
    margin-top: 50px;
    width: 25%;
}

.big-p {
    margin-top: 40px;
    margin-bottom: 55px;
}

/* SEZIONE INVITES */

.invites {
    background-color: #B4D0E7;   
}

.box {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-left: auto;
    margin-right: auto;

    padding-top: 140px;
    padding-bottom: 140px;
}

.box h2 {
    color: #61082B;
    font-size: 30px;
}

.box span {
    padding: 10px;
    background-color: white;
}

.box span:hover {
    background-color: rgb(0, 97, 255);
    border: none;
    color: white;
    transform: scale(1.1);
    transition: 1s;
}

/* INIZIO CONTAINER SMALL DUE */

.container-small-due {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;

    margin-bottom: 155px;
}

.container-small-due h2 {
    margin-top: 170px;
    margin-bottom: 70px;
    font-size: 30px;
}

.container-small-due hr {
    margin-bottom: 45px;
}

.container-small-due p {
    font-weight: bold;
    margin-bottom: 45px;
}

.container-small-due p:hover {
    transform: scale(0.9);
    transition: 1s;
}

/* INIZIO FOOTER */

.info {
    background-color: black;
}

.info hr {
    margin-top: 120px;
    margin-bottom: 50px;

    width: 25%;
}

.big-box {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: space-around;
}

.section {
    padding-top: 110px;
    color: white;
}

.section h3 {
    margin-bottom: 40px;
}

.section ul li {
    list-style-type: none;
    margin-bottom: 25px;
}

.section ul li:hover {
    color: red;
    transition: 0.5s;
}

.centro {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    padding-bottom: 55px;
}

.language {
    color: gray;
}